#sociallinks
  display: inline-block
  list-style: none
  padding: 0
  margin: 0
  li
    display: inline-block
  li:after
    content: ", "
  li:last-child:after
    content: ""
  li:nth-last-child(2):after
    content: " and "

.post-list
  padding: 0
  .post-item
    list-style-type: none
    margin-left: 0
    margin-bottom: 1rem
    .meta
      display: block
      font-size: 14px
      color: #666
      min-width: 100px
      margin-right: 16px

@media (min-width: 480px)
  .post-list
    .post-item
      display: flex
      margin-bottom: 5px
      .meta
        text-align: left

.project-list
  padding: 0
  list-style: none
  .project-item
    margin-bottom: 5px

#greeting
  margin: 30% 0 auto
  text-align: center
  h1
    font-weight: 500
  a
    background-image: none
  button
    margin: 2em 0
    display: inline-block
    height: 38px
    padding: 0 30px
    color: $color-text
    text-align: center
    font-size: 10px
    font-weight: 600
    line-height: 28px
    letter-spacing: .1rem
    text-transform: uppercase
    text-decoration: none
    white-space: nowrap
    background-color: transparent
    border-radius: 4px
    border: 1px solid $color-light
    cursor: pointer
    box-sizing: border-box
  button:hover
    color: $color-accent
    border: 1px solid $color-lightest





